In [8]:
import pandas as pd
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix
import numpy as np
import heapq
from sklearn.metrics import accuracy_score

In [20]:
pred = pd.read_csv("../results/resnet50/validation_0.csv")
pred = pred.sort_values(by='_id')
pred

              _id  category_id
0               0   1000012991
12338           2   1000004079
23470           3   1000004141
31833           4   1000002690
31915           6   1000005744
32487           8   1000010653
38169           9   1000018286
50236          12   1000008782
54361          13   1000010961
58173          15   1000015309
71260          17   1000007361
72306          18   1000018296
83856          19   1000015309
1              20   1000010653
85908          22   1000010789
91685          26   1000013017
94715          33   1000010647
2              34   1000010635
103582         39   1000011423
117806         42   1000012989
3              44   1000005509
125491         45   1000003796
129608         46   1000005509
134782         50   1000005990
135358         53   1000012993
144032         54   1000014396
4              55   1000001784
144528         57   1000010820
151316         58   1000011460
151444         59   1000008770
...           ...          ...
1185478  23620151   1000000526
1382715  23620156   1000010961
489186   23620160   1000010681
263685   23620168   1000010110
50235    23620191   1000015309
117805   23620203   1000011423
1379987  23620215   1000012961
1183381  23620220   1000010055
1089720  23620221   1000002604
1104198  23620241   1000014526
505271   23620256   1000018246
1094229  23620296   1000006314
695537   23620315   1000014202
23469    23620325   1000005956
880052   23620327   1000018499
1059469  23620330   1000001859
497161   23620335   1000019772
188418   23620341   1000010641
1074106  23620354   1000016496
129607   23620359   1000012558
708761   23620364   1000006064
368775   23620374   1000010722
712271   23620379   1000000591
1395845  23620411   1000010906
590216   23620418   1000005509
54360    23620427   1000018296
227777   23620436   1000020845
440243   23620444   1000008856
1363168  23620446   1000010128
1153257  23620452   1000011349

[1416113 rows x 2 columns]

In [21]:
real = pd.read_csv("../data/fold_0.csv")
real = real[real.image_id.str.contains("_0")]
real = real.sort_values(by='product_id')
real

           image_id  product_id  category_id
0               0_0           0   1000010653
16097           2_0           2   1000004079
31991           3_0           3   1000004141
48088           4_0           4   1000015539
48304           6_0           6   1000005744
49038           8_0           8   1000010667
65068           9_0           9   1000018290
77244          12_0          12   1000018306
81419          13_0          13   1000010961
90938          15_0          15   1000015309
106928         17_0          17   1000007361
108783         18_0          18   1000018294
120361         19_0          19   1000014287
1              20_0          20   1000010653
123564         22_0          22   1000005910
130991         26_0          26   1000001859
137676         33_0          33   1000010647
2              34_0          34   1000010653
153659         39_0          39   1000011423
169733         42_0          42   1000012989
3              44_0          44   1000010653
185807         45_0          45   1000012558
190624         46_0          46   1000010061
206549         50_0          50   1000005990
207258         53_0          53   1000012993
223079         54_0          54   1000014396
4              55_0          55   1000010653
223691         57_0          57   1000003787
239710         58_0          58   1000010706
239961         59_0          59   1000007138
...             ...         ...          ...
2053751  23620151_0    23620151   1000000526
2414499  23620156_0    23620156   1000010098
803687   23620160_0    23620160   1000004153
438708   23620168_0    23620168   1000010110
77243    23620191_0    23620191   1000018290
169732   23620203_0    23620203   1000011423
2409908  23620215_0    23620215   1000015531
2049686  23620220_0    23620220   1000010049
1879088  23620221_0    23620221   1000002520
1906711  23620241_0    23620241   1000015492
825724   23620256_0    23620256   1000018246
1886917  23620296_0    23620296   1000001966
1184986  23620315_0    23620315   1000014132
31990    23620325_0    23620325   1000004079
1513552  23620327_0    23620327   1000022381
1828239  23620330_0    23620330   1000001857
816161   23620335_0    23620335   1000019772
305420   23620341_0    23620341   1000010641
1852169  23620354_0    23620354   1000016500
190622   23620359_0    23620359   1000012558
1212349  23620364_0    23620364   1000006064
616629   23620374_0    23620374   1000010722
1217395  23620379_0    23620379   1000000591
2439519  23620411_0    23620411   1000010910
989367   23620418_0    23620418   1000012991
81418    23620427_0    23620427   1000018306
364412   23620436_0    23620436   1000020845
720094   23620444_0    23620444   1000017055
2378215  23620446_0    23620446   1000010174
1993290  23620452_0    23620452   1000002900

[1416113 rows x 3 columns]

In [22]:
accuracy = accuracy_score(pred.category_id.values, real.category_id.values)

In [24]:
np.sum(pred.category_id.map(str).values == real.category_id.map(str).values) / len(pred.category_id.values)

0.073494841160274646

In [25]:
np.sum(pred._id.map(str).values == real.product_id.map(str).values) / len(pred.category_id.values)

1.0

In [23]:
accuracy

0.073494841160274646

In [ ]:
pred1 = pd.read_csv("/Users/westside/Downloads/sample_submission 2.csv")
pred2 = pred1.copy()
size = pred1.shape[0]
num_classes = 5000
sub1 = np.random.randint(low=0, high=num_classes, size=size)
sub2 = np.random.randint(low=0, high=num_classes, size=size)
pred1.sort_values(by='_id')
pred2.sort_values(by='_id')
pred1.category_id = sub1
pred2.category_id = sub2

In [ ]:
cm = confusion_matrix(pred1.category_id, pred2.category_id)

In [ ]:
top_k = 10
largest_indexes = heapq.nlargest(top_k, range(num_classes ** 2), cm.take)
largest_indexes

In [ ]:
def get_coord(n, size):
    return n // size, n % size

In [ ]:
for li in largest_indexes:
    print(cm[get_coord(li, num_classes)])

In [ ]:
cm.shape[0] ** 2 / size